<label for="{{name}}" class="{{class}}">
  <div>{{{title}}}{{#required}}<span>*</span>{{/required}}</div>
  {{#if help}}<p>{{{help}}}</p>{{/if}}
</label>
{{{html}}}
{{^html}}
<input
  type="text"
  id="{{name}}"
  name="{{name}}"
  value="{{value}}"
  {{#required}}required{{/required}}
  {{#readonly}}readonly{{/readonly}}>
{{/html}}
