<label for="{{name}}" class="apply-form-fields__label">
  <p>{{{title}}}{{#required}}<span class="required">*</span>{{/required}}</p>
  {{#if help}}<p class="secondary-description">{{{help}}}</p>{{/if}}
</label>
{{{html}}}
{{^html}}
<div>
  <input
    class="apply-form-fields__input"
    type="text"
    id="{{name}}"
    name="{{name}}"
    value="{{value}}"
    placeholder="{{title}}"
    {{#required}}required{{/required}}
    {{#if name}}{{#if email}}{{#readonly}}readonly{{/readonly}}{{/if}}{{/if}}>
</div>
{{/html}}
