{{> nav}}
<div class="home-content">
  <input type="radio" name="tabs" id="tab1" checked>
  <input type="radio" name="tabs" id="tab2">
  <input type="radio" name="tabs" id="tab3">
  <div class="tabs">
    <label for="tab1">Intro</label>
    <label for="tab2">About Us</label>
    <label for="tab3">Local Meetups</label>
  </div>

  {{#header}}
  <div class="tab-content-wrapper">
    <div id="tab-content1" class="tab-content">
      <h1 class="primary-header">{{blurb}}</h1>
      <p>{{detail}}</p>
      <p><a class="btn" href="/signin">Join now &raquo;</a></p>
      <p>{{subtext}}</p>
    </div>
    {{/header}}
    {{#about}}
    {{#team}}
    <div id="tab-content2" class="tab-content">
      <h1 class="primary-header">About Us</h1>
      <p>We are {{name}}</p>
      <p>{{description}}</p>
      <p><a class="btn" href="{{link}}">View details &raquo;</a></p>
    {{/team}}
    </div>
    <div id="tab-content3" class="tab-content">
      <div>
        <h1 class="primary-header">Phoenix JavaScript</h1>
        <p>
          Phoenix JavaScript hosts monthly events that allows members to network
          and hear technology presentations. Meetings are generally held on
          Wednesdays and usually there is pizza and a t-shirt drawing.
        </p>
        <p>
          <a class="btn" href="http://www.meetup.com/Phoenix-JavaScript/">
            View details &raquo;
          </a>
        </p>
      </div>
      <div>
        <h1 class="primary-header">NodeAZ</h1>
        <p>
          Phoenix developer group for server-side JavaScript/CoffeeScript using
          Node.js. Real-time web, websockets, HTML5 and much more. 7PM 3rd Mon
          at UAT.
        </p>
        <p>
          <a class="btn" href="http://www.meetup.com/NodeAZ/">
            View details &raquo;
          </a>
        </p>
      </div>
    </div>
    {{/about}}
  </div>
  <div class="logo home-content__logo">
    <span>{az}</span>
  </div>
</div>

{{> scripts}}
