{{> nav}}
<div class="home-content">
  <input type="radio" name="tabs" id="tab1" checked>
  <input type="radio" name="tabs" id="tab2">
  <input type="radio" name="tabs" id="tab3">
  <div class="tabs">
    <label for="tab1">Intro</label>
    <label for="tab2">About Us</label>
    <label for="tab3">Meetups</label>
  </div>

  <div class="tab-content-wrapper">
    {{#header}}
    <div id="tab-content1" class="tab-content">
      <h1 class="primary-heading">{{blurb}}</h1>
      <p class="tab-content__details">{{detail}}</p>
      <div class="action-buttons">
        <div>
          <p>Not a member?</p>
          <a class="btn" href="/signin">Request an invite &raquo;</a>
        </div>
        <div>
          <p>Already a member?</p>
          <a href="https://slack.azdevs.org" class="btn">Open Slack &raquo;</a>
        </div>
      </div>
      <p class="tab-content__details--subtext">{{subtext}}</p>
    </div>
    {{/header}}
    {{#about}}
    {{#team}}
    <div id="tab-content2" class="tab-content">
      <h1 class="primary-heading">About Us</h1>
      <p class="secondary-description">
        we are
        <span class="secondary-description__name">
          <span class="name--head">{az}</span><span class="name--tail">devs</span>
        </span>
      </p>
      <p class="tab-content__details">{{description}}</p>
      <p><a class="btn" href="{{link}}">Open Slack &raquo;</a></p>
    </div>
    {{/team}}
    {{/about}}
    <div id="tab-content3" class="tab-content meetups">
      {{#meetups}}
      <div>
        <h1 class="primary-heading">{{name}}</h1>
        <p class="tab-content__details">{{description}}</p>
        <p>
          <a class="btn" href="{{url}}">
            View details &raquo;
          </a>
        </p>
      </div>
      {{/meetups}}
      <p><em>Run a Meetup? Don't see it listed? Fork us and add it!</em></p>
    </div>
  </div>
  <div class="home-content__logo"></div>
</div>

{{> scripts}}
